.item {
    flex-grow: 1;
    margin: auto;
    position: relative;
  }

  .movieTitle {
    position: absolute;
    bottom: 0;
    transform: translate (50%, 50%);
    color: red;
    width: 100%;
    background-color:rgba(28, 28, 28, 0.55);
    height: 9%;
    opacity: 0;
    font-size: 100%;
    transition: height 0.5s, opacity 1s;
  }
  
  .item:hover .movieTitle{
      opacity: 1;
  }

  .image {
    width:100%;
  }
  